In [2]:
test_tuple = (1, "A", 1.0, False)
print(test_tuple)
print(type(test_tuple))

(1, 'A', 1.0, False)
<class 'tuple'>

In [5]:
print(test_tuple[0])
print(test_tuple[2])

1
1.0

In [6]:
for item in test_tuple:
    print(item)

1
A
1.0
False

In [9]:
# '+' operator
test_tuple += (3, 5)
test_tuple

(1, 'A', 1.0, False, 3, 5, 3, 5)

In [8]:
# '*' operator
test_tuple * 2

(1, 'A', 1.0, False, 3, 5, 1, 'A', 1.0, False, 3, 5)

In [11]:
# Complex tuple
a = ((1, 2), (3, 4), (5, 6))
a

((1, 2), (3, 4), (5, 6))

In [12]:
# Tuple without brackets
b = 1, 3, 2, 5, 7
type(b)

tuple

In [13]:
# Multiple return use tuple
def min_max(items):
    return min(items), max(items)

min_max([6, 5, 0, 1, 9, 2])

(0, 9)

In [15]:
# Destruct tuple
(a, (b, (c, d))) = (4, (3, (2, 1)))
'{} {} {} {}'.format(a, b, c, d)

'4 3 2 1'

In [16]:
# Swap with destruct
a = 'A'
b = 'B'

a, b = b, a
'{} {}'.format(a, b)

'B A'

In [17]:
# Tuple from iterable
a = tuple([1, 7, 5, 1, 2])
b = tuple("abcde")

print(a)
print(b)

(1, 7, 5, 1, 2)
('a', 'b', 'c', 'd', 'e')

In [19]:
# contains
a = 1, 2, 3, 4, 5
print(1 in a)
print(6 not in a)

True
True